<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('合作合同管理列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>合同名称：</label>
                                <input type="text" name="contractName"/>
                            </li>
                            <li>
                                <label>合同标的：</label>
                                <input type="text" name="contractTarget"/>
                            </li>
                            <li>
                                <label>业务员：</label>
                                <input type="text" name="manager"/>
                            </li>
                            <li>
                                <label>合同金额：</label>
                                <input type="text" name="contractAmount"/>
                            </li>
                            <li>
                                <label>签订日期：</label>
                                <input type="text" class="time-input" placeholder="请选择签订日期" name="signDate"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:cooperate_contract:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:cooperate_contract:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:cooperate_contract:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:cooperate_contract:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:cooperate_contract:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:cooperate_contract:remove')}]];
        var prefix = ctx + "system/cooperate_contract";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "合作合同管理",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'contractId',
                    title: '合同id',
                    visible: false
                },
                {
                    field: 'contractDeptId',
                    title: '合同分类id'
                },
                {
                    field: 'contractName',
                    title: '合同名称'
                },
                {
                    field: 'contractTarget',
                    title: '合同标的'
                },
                {
                    field: 'manager',
                    title: '业务员'
                },
                {
                    field: 'contractAmount',
                    title: '合同金额'
                },
                {
                    field: 'signDate',
                    title: '签订日期'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.contractId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.contractId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>