<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改客户档案')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-client-edit" th:object="${sysClient}">
            <input name="clientId" th:field="*{clientId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">分类ID：</label>
                <div class="col-sm-8">
                    <input name="clitypeId" th:field="*{clitypeId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">客户全称：</label>
                <div class="col-sm-8">
                    <input name="clientFullName" th:field="*{clientFullName}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">客户简称：</label>
                <div class="col-sm-8">
                    <input name="clientSimplifiedName" th:field="*{clientSimplifiedName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">客户地址：</label>
                <div class="col-sm-8">
                    <input name="clientAddress" th:field="*{clientAddress}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/client";
        $("#form-client-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-client-edit').serialize());
            }
        }
    </script>
</body>
</html>